<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="import"></head>
    <meta charset="utf-8">
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="../static/test/favicon/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/test/css/style.css">
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->

</head>
<body>
<div class="tt-wrapper-inner">
    <div class="pt-editor form-default">
        <h6 class="pt-title">Post Your Reply</h6>
        <div class="pt-row">
            <div class="col-left">
            </div>
            <div class="col-right tt-hidden-mobile">
                <a href="#" class="btn btn-primary">Preview</a>
            </div>
        </div>
        <!--评论框-->
        <div class="form-group">
            <textarea id="commentContent" name="message" class="form-control" rows="5"></textarea>
        </div>
        <div class="pt-row">
            <div class="col-auto">
            </div>
            <div class="col-auto">
                <!--提交评论-->
                <a style="color: white"  onclick="insertComment()" class="btn btn-secondary btn-width-lg">reply</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>