<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>创建类别</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/item.js}"></script>
</head>
<body>
<nav class="panel-menu" id="mobile-menu">
    <ul>

    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                    <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<header id="tt-header">
    <div class="container">
        <div class="row tt-row no-gutters">
            <div class="col-auto">
                <a class="toggle-mobile-menu" href="#">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-menu_icon"></use>
                    </svg>
                </a>
                <div class="tt-logo">
                    <a href="/index"><img src="../static/images/logo.png" alt=""></a>
                </div>
                <div class="tt-desktop-menu">
                    <nav>
                        <ul>
                            <li><a href="/index"><span>主页</span></a></li>
                            <li><a href="/subItem/showAll"><span>进吧</span></a></li>
                            <li><a href="/topic/alltopic"><span>查看所有帖子</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-auto ml-auto" sec:authorize="hasRole('ROLE_USER')">
                <div class="col-auto ml-auto">
                    <div class="tt-user-info d-flex justify-content-center">
                        <div class="tt-avatar-icon tt-size-md">
                            <i class="tt-icon">
                                <img  th:src="|data:image/jpg;base64,${#authentication.userIcon}|" style="height: 40px;width: 40px;border-radius:50%;margin-top: 15px">
                            </i>
                        </div>
                        <div class="custom-select-01">
                            <div class="tt-desktop-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a><span sec:authentication="userName">用户昵称</span></a>
                                            <ul>
                                                <li><a th:href="@{/topic/mytopic}">我的帖子</a></li>
                                                <li><a th:href="@{/user/showUserMesUpdate}">个人信息</a></li>
                                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a  th:href="@{/user/showAdminManageUser(userId=${#authentication.name})}">用户管理</a></li>
                                                <li><a th:text="|积分:${#authentication.integral}|"></a></li>
                                                <li><a th:href="@{/logout}">退出登录</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto ml-auto" sec:authorize="!hasRole('ROLE_USER')">
                <div class="tt-account-btn">
                    <a th:href="@{/user}" class="btn btn-primary">登录</a>
                    <a th:href="@{/user/register}" class="btn btn-secondary">注册</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="tt-pageContent">
    <div class="tt-custom-mobile-indent container">
        <div class="tt-categories-title">
            <div class="tt-title">创建类别</div>
        </div>
    </div>
    <form class="form-default" style="width: 700px;margin:0 auto;position: relative;top: -150px">
        <div class="tt-form-upload">
            <div class="row no-gutter">
                <div class="col-auto">
                    <div class="tt-avatar">
                        <svg>
                            <use xlink:href="#icon-ava-d"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="itemName">类别名称</label>
            <input type="text" name="name" class="form-control" id="itemName"
                   th:placeholder="此项为必填项">
        </div>
        <div class="form-group">
            <label for="itemDescription">类别描述</label>
            <input type="text" name="name" class="form-control" id="itemDescription"
                   th:placeholder="此项为必填项">
        </div>
        <div class="form-group">
            <a  th:href="|javascript:insertItem(${#authentication.userId})|" class="btn btn-secondary">创建</a>
        </div>
    </form>
</main>
</body>
</html>