<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subItem} == null?'创建栏目':'修改栏目'"></title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/subItem.js}"></script>
</head>
<body>
<div th:object="${subItem}">
    <div th:if="${subItem}">
        <img th:src="*{subItemIcon}" alt="子栏目图片">
        <input id="subItemFile" type="file" value="文件"
               th:onchange="|javascript:uploadSubItemIcon(*{subItemId})|">
    </div>
    <div>
        <label for="subItemName">子栏目名称</label>
        <input id="subItemName" type="text" th:value="${subItem} eq null?'':*{subItemName}">
    </div>
    <div>
        <label for="subItemDescription">子栏目介绍</label>
        <input id="subItemDescription" type="text" th:value="${subItem}==null?'':*{subItemDescription}">
    </div>
    <div>
        <span>所属栏目</span>
        <select id="itemId">
            <!--                    th:selected="(${subItem?.itemId} != ${item.itemId})?'':'selected'"-->
            <option th:each="item:${allItem}" th:text="${item.itemName}" th:value="${item.itemId}"
                    th:selected="${subItem}==null?'':(${subItem.itemId} eq ${item.itemId}?'selected':'')">
            </option>
        </select>
    </div>
    <div>
        <label for="subItemManager">管理员</label>
        <input id="subItemManager" type="text" th:value="${subItem?.manager}==null?'':*{manager}">
    </div>
    <div>
        <button th:if="${subItem}" th:onclick="|javascript:updateSubItem(*{subItemId})|">修改</button>
        <button th:if="${subItem}" th:onclick="|javascript:deleteSubItem(*{subItemId})|">删除</button>
        <button th:if="!${subItem}" onclick="insertSubItem()">创建</button>
    </div>
</div>
</body>
</html>