<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="initAJAX()">
<p id="topicId"></p>
<label for="title">

    <input type="text" id="title">标题
</label>
<label for="content">
    <input type="text" id="content" >内容
</label>

<input id="1" name="a" type="button" value="提交" onclick="commentModel()"/>
<a class="commentModel" href="#" onclick="commentModel()">评论</a>
<div>
<a th:value="123" class="commentModel" href="#" onclick="commentModel(this)">评论2</a>
</div>
<a class="commentModel" href="#" onclick="commentModel(this)">评论3</a>
<input class="commentModel" type="button" onclick="commentModel(this)">评论4
<div class="commentModel" ></div>

<!--<table border="1" th:width="500" id="div1">-->
    <!--<tr>-->
        <!--<td>标题</td>-->
        <!--<td>内容</td>-->

    <!--</tr>-->
    <!--<tr >-->
        <!--<td>-->
            <!--<input type="text"  th:text="${topic.title}"/>-->
        <!--</td>-->
        <!--<td>-->
            <!--<input type="text"  th:text="${topic.content}">-->
        <!--</td>-->
        <!--<input type="button" value="提交" onclick="">-->


    <!--</tr>-->
<!--</table>-->
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/topic.js" ></script>
</html>